*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
  padding: 2em;
}

body,
html {
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
}

li {
  list-style: none;
}