*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
  background-color: #111;
  overflow-x: hidden;
}

body,
html {
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
}

/*****************/
#backToTop-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backToTop {
  margin: 0.5em;
  padding: 1em 2em;
  border: none;
  line-height: 1;
  opacity: 0.7;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

#backToTop:hover {
  opacity: 1;
}

.month-title {
  text-align: right;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto 0.3em;
}

li + .month-title {
  padding-top: 3em;
}

#months_nav {
  margin: auto;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.75em;
  margin-bottom: 1em;
  list-style: none;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#months_nav li {
  margin: 0.5em;
}

#months_nav a {
  color: orange;
  text-underline-offset: 2px;
  padding: 0.5em 1em;
  transition: background-color 0.2s;
}

#months_nav a:hover {
  background-color: #000;
}

#ui_calendar {
  list-style: none;
  margin: 1em;
  max-width: 28em;
  min-width: 300px;
  margin: auto;
  padding: 0.5em;
  padding-bottom: 5em;
}

#ui_calendar li {
  position: relative;
  box-shadow: 1px 1px 2px #0005;
  margin-bottom: 0.5em;
  background-color: white;
  border-radius: 4px;
  display: grid;
  background-color: aliceblue;
  outline: 3px solid #111;
  grid-template-columns: auto 1fr;
}

#ui_calendar li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 2em;
  background-color: #333;
  color: white;
}

#ui_calendar li > span:first-of-type {
  font-weight: bold;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 3em;
}
#ui_calendar li > span:last-of-type {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: stretch;
  justify-content: flex-start;
}

#ui_calendar li[data-dayofweek="Dimanche"] {
  margin-bottom: 1em;
}

#ui_calendar li[data-dayofweek="Samedi"],
#ui_calendar li[data-dayofweek="Dimanche"] {
  background-color: hsl(350, 30%, 95%);
}

.buttons {
  width: max-content;
  margin: 0 auto 0.75em;
}

.buttons button {
  margin: 0.2em;
  padding: 0.25em 1em;
}

#ui_calendar li .options {
  display: flex;
  padding: 0.25em;
  flex: 1;
  gap: 0.25em;
  grid-column: 1 / -1;
  border-top: 2px solid #222;
}

#ui_calendar li label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  box-shadow: inset 1px 1px 2px #0005;
  padding: 0.5em 0.8em;
  background-color: white;
  border-radius: 2px;
  flex: 1;
}

/* Response section */
#section_response {
  background-color: white;
  padding: 1em;
  padding-bottom: 15em;
}

#response_list {
  list-style: none;
}
